<div id="filters">
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-leaf"></i></div>
    <p>Eco-Friendly</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-recycle"></i></div>
    <p>Recycling</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-sun"></i></div>
    <p>Sustainability</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-bolt"></i></div>
    <p>Green Energy</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-paw"></i></div>
    <p>Wildlife</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-tree"></i></div>
    <p>Plantation</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-newspaper"></i></div>
    <p>Eco News</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-star"></i></div>
    <p>Top Rated</p>
  </div>

  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-heart"></i></div>
    <p>Popular</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-water"></i></div>
    <p>Water Conservation</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-seedling"></i></div>
    <p>Organic Farming</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-cloud"></i></div>
    <p>Climate Action</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-wind"></i></div>
    <p>Renewable Energy</p>
  </div>
  <div class="filter">
    <div class="filter-icon"><i class="fa-solid fa-landmark"></i></div>
    <p>Eco Tourism</p>
  </div>
</div>