<div class="container-fluid bg-success-subtle py-2 shadow-sm rounded">
  <div class="d-flex overflow-auto category-section"
    style="white-space: nowrap; height: 40px; overflow-x: auto; scrollbar-width: none; align-items: center; justify-content: center;">
    <button type="button" class="btn btn-success mx-1 px-4 rounded-pill text-white active">All</button>
    <button type="button" class="btn btn-outline-success mx-1 px-4 rounded-pill">Sustainability</button>
    <button type="button" class="btn btn-outline-success mx-1 px-4 rounded-pill">Recycling</button>
    <button type="button" class="btn btn-outline-success mx-1 px-4 rounded-pill">Eco News</button>
    <button type="button" class="btn btn-outline-success mx-1 px-4 rounded-pill">Green Energy</button>
    <button type="button" class="btn btn-outline-success mx-1 px-4 rounded-pill">Wildlife</button>
    <button type="button" class="btn btn-outline-success mx-1 px-4 rounded-pill">Plantation</button>
    <button type="button" class="btn btn-outline-success mx-1 px-4 rounded-pill">Eco Tips</button>
    <button type="button" class="btn btn-outline-success mx-1 px-4 rounded-pill">Community</button>
    <button type="button" class="btn btn-outline-success mx-1 px-4 rounded-pill">Events</button>
  </div>
</div>